APP_NAME="Divan tests"
APP_ENV=testing
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=divanhaj_db_test
DB_USERNAME=divan_test_user
DB_PASSWORD=
DB_CHARSET=utf8mb3
DB_COLLATION=utf8mb3_general_ci
CACHE_STORE=array
SESSION_DRIVER=array
QUEUE_CONNECTION=sync
LOG_CHANNEL=stack
DIVAN_REQUIRE_HTTPS=false
DIVAN_ALLOW_DATABASE_TESTS=true
