APP_NAME="دیوان"
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://divanhajghasem.ir
APP_LOCALE=fa
APP_FALLBACK_LOCALE=en
DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=divanhaj_db
DB_USERNAME=divanhaj_db
DB_PASSWORD=
DB_CHARSET=utf8mb3
DB_COLLATION=utf8mb3_general_ci
CACHE_STORE=file
SESSION_DRIVER=array
QUEUE_CONNECTION=sync
LOG_CHANNEL=stack
LOG_LEVEL=warning
DIVAN_TOKEN_TTL=86400
DIVAN_REQUIRE_HTTPS=true
