/.env
/.env.*
!/.env.example
!/.env.testing.example
/vendor/
/node_modules/
/public/hot
/public/storage
/public/upload/category/*.tmp
/bootstrap/cache/*.php
/storage/*.key
/storage/logs/*
!/storage/logs/.gitignore
/storage/framework/cache/data/*
!/storage/framework/cache/data/.gitignore
/storage/framework/views/*.php
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/database/*.sqlite*
/.phpunit.result.cache
/.phpunit.cache
*.zip
*.log
.DS_Store
/includes/variables.php
/includes/token_config.php
/output/playwright/
/.playwright-cli/
/playwright-cli.json
*.sql
